---
layout: default
---

<style>
    #status2 ul {
        display: flex;
    }
    #status2 li {
        display:inline;
    }
    .acposttext {
        padding-top: 1em;
    }
    .acposttime {
        font-family: "Lato" !important;
    }
    .acposttitle, .acpostlink {
        font-family: "Lato" !important;
    }
    .acpostlink {
        /* padding-top:1em; */
        color: blueviolet !important;
        text-align: right;
        font-weight: 600;
    }
    .acposttext {
        font-family: "Lato" !important;
        padding-bottom: 0.75em;
    }
    .acposttitle {
        font-weight: 500 !important;
    }
    .acdatemorelist {
        padding-top: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
</style>

<div style="padding-bottom:65px"></div>

<div class="card-content black-text hide-on-med-and-down" style="height:65px;width:fit-content;margin-left:auto;margin-right:auto;">
    <div id="status2" style="width:100%;"></div>
</div>

<div style="width:90%;margin-left:auto;margin-right:auto;">
    {% for post in site.posts limit: 1 %}
        <a href="{{ post.url | remove_first: "/" }}">
            <div class="card grey lighten-5">
                <div class="card-content black-text">
                    <span class="card-title acposttitle">{{ post.title }}<span class="new badge blue lighten-1"></span></span>
                    <p class="acposttext">{{ post.content | markdownify | strip_html | truncatewords: 28 }}</p>
                    <div class="acdatemorelist">
                        <p class="acposttime grey-text text-darken-2">{{ post.date | date: '%B %d, %Y' }}</p>
                        <p class="acpostlink">Read Now</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% for post in site.posts offset: 1 limit: 3 %}
        <a href="{{ post.url | remove_first: "/" }}">
            <div class="card grey lighten-5">
                <div class="card-content black-text">
                    <span class="card-title acposttitle">{{ post.title }}</span>
                    <p class="acposttext">{{ post.content | markdownify | strip_html | truncatewords: 28 }}</p>
                    <div class="acdatemorelist">
                        <p class="acposttime grey-text text-darken-2">{{ post.date | date: '%B %d, %Y' }}</p>
                        <p class="acpostlink">Read Now</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <a onclick="var delayInMS = 700;document.getElementById('showpostsclicker').style.display='none';setTimeout(function() {document.getElementById('showpage2').style.display='block'}, delayInMS);" id="showpostsclicker" style="cursor:pointer;display:block;margin-top:2em;">Load more posts...</a>
    <div id="showpage2" style="display:none;">
        {% for post in site.posts offset: 4 %}
            <a href="{{ post.url | remove_first: "/" }}">
                <div class="card grey lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title acposttitle">{{ post.title }}</span>
                        <p class="acposttext">{{ post.content | markdownify | strip_html | truncatewords: 28 }}</p>
                        <div class="acdatemorelist">
                            <p class="acposttime grey-text text-darken-2">{{ post.date | date: '%B %d, %Y' }}</p>
                            <p class="acpostlink">Read Now</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<title>Arland Blog - Arland</title>